@model IEnumerable<TMP.Models.CountryMaster>

<div class="col-md-12">
    <form method="post" id="Email">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr class="bgpc">
                    <th>Holiday Name</th>
                    <th>From Holiday Date</th>
                    <th>To Holiday Date</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HolidayName</td>
                        <td>@Convert.ToDateTime(item.FromHolidayDate).ToString("dd-MMM-yyyy")</td>
                        <td>@Convert.ToDateTime(item.ToHolidayDate).ToString("dd-MMM-yyyy")</td>
                        <td>@Html.ActionLink("Edit", "CreateHolidayMaster", new { HolidayID = item.HolidayID, DeleteID = 0 })</td>
                        <td>
                            <a id="DeleteID_@item.HolidayID" style="cursor:pointer;" class="Delete" name="DeleteID_@item.HolidayID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
</div>

<script type="text/javascript">

    $(".Delete").click(function () {
       
        var id = $(this).attr("id");
        var DeleteID = id.split("_")[1];
        var HolidayID = 0;

        if (confirm("are you sure you want to delete !!")) {

            $.ajax({
                url: "/Country/CreateHolidayMasterDelete?DeleteID=" + DeleteID + "&HolidayID=" + HolidayID,
                type: "POST",
                data: "{}",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
            
                    if (data == "Successfully") {
                        var DeleteID = $("#DeleteID").val();
                        var HolidayID = 0;
                        window.location.href = "/Country/CreateHolidayMaster";
                    }
                },
                error: function () {
                    $("#errorMsg").html(Error);
                    $('#Error').modal('show');
                }
            });
        }
        return false;
    });

</script>