<header>
    <div class="container-fiuld header-container" id="div-menu1">
        <div class="col-md-12" style="height: 80px;background: #336699;position: absolute;"></div>
        <div class="container">
            <div class="row header-cont-row">
                <div class="col-md-1"></div>
                <div class="col-md-3 header-cont-row-col">
                    <div class="thumbnail noBorder trans-bg" style="padding:0;background-color:transparent;">
                        <a href="/OnlineReg/Index">
                            <img class="header-logo" src="~/images/TradeHub.jpeg" alt="SCF Platform" title="SCF Platform">
                        </a>
                    </div>
                </div>
                @*@Html.Partial("_HeaderMenu")*@
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="col-md-12 headerbottom"></div>
        </div>
    </div>  
</header>
