
<div id="NEW" class="modal-body" style="height: 140px;">
    @{
        var a = ViewData["ActionName"];
    }
  
    <div class="col-md-12">
        <div class="col-md-3">Template Name</div>
        <div class="col-md-9"><input class="form-control" value="@ViewData["TemplateName"]" name="" type="text" disabled /></div>
        <div class="col-md-12" style="height:10px;"></div>
        <label class="col-md-3">Remarks</label>
        <div class="col-md-9">
            <input type="text" id="txtProcessRemarks" class="form-control" style="height:60px;" name="txtProcessRemarks" required="" />
        </div>
        <div class="col-md-12" style="height:10px;"></div>
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-9">
            @if (a.Equals("Delete"))
            {
                <button id="btnDelete" name="btnDelete" class="Act_InA_Del btn-tgs" onclick="Act_InA_Del()">Delete</button>
            }
            else if (a.Equals("InActive"))
            {
                <button id="btnInActive" name="btnInActive" class="Act_InA_Del btn-tgs" onclick="Act_InA_Del()">InActive</button>
            }
            else if (a.Equals("Active"))
            {
                <button id="btnActive" name="btnActive" class="Act_InA_Del btn-tgs" onclick="Act_InA_Del()">Active</button>
            }
            <button id="btnClose" name="btnClose" class="btn-tgs" data-dismiss="modal">Close</button>
        </div>
        <div class="col-md-12" style="height:10px;"></div>
    </div>

</div>

