<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ConString" connectionString="Data Source=62.233.65.3;Initial Catalog=GlobalData;User ID=GlobalData;Password=GlobalData1993;" providerName="System.Data.SqlClient" />-->
     <!--<add name="ConString" connectionString="Server=LAPTOP-FJSBHKBH; Database=TradeHub; Integrated Security=true;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>-->
    <add name="ConString" connectionString="Data Source=94.130.33.168,1444;Initial Catalog=GlobalDBS;User ID=gdscfcom_appuser;Password=Point3rpo@957;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConString" connectionString="Data Source=jayesh;Initial Catalog=LiveGlobalData;User ID=sa;Password=jayesh@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConString" connectionString="Data Source=DESKTOP-IBUN9U6;Initial Catalog=GlobalDBS;User ID=sa;Password=azhar1248" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--Always pass lower IsLive,IsLiveOtp,SendSMS -->
    <add key="IsLive" value="true"/>
    <add key="IsLiveOtp" value="true"/>
    <add key="CompanyTypeName" value="Governments Related Entity"/>
    <!--IsLiveOtp = true = auto bind confirmation code -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="AdminSupportEmail" value="jayeshshihora@gmail.com"/>
    <add key="PDFpageUrl" value="http://localhost:60548/OnlineReg/PrintPDFSave?CustomerID="/>
    <add key="TranPDFpageUrl" value="http://localhost:60548/InvoiceCommon/FinalRequestPDF"/>
    <add key="IsMaintenance" value="true"/>
    <!--<add key="smsURL" value="http://xxxxx.xxxxxx.ae/app/smsapi/index.php?key=59e3bc4928e1f&amp;campaign=5450&amp;routeid=39&amp;type=text&amp;contacts='+PhoneNumber.Trim()+'&amp;senderid=xxxxxx&amp;msg='+MessageText+'"/>-->
    <add key="SendSMS" value="false"/>
    <add key="IsSendTransactionMail" value="false"/>
    <!--Thomson Reuters Integration Keys-->
    <!--<add key="apikey" value="b042d571-7eea-49d2-b3ab-58f5b70d9548" />
    <add key="apisecret" value="ZfHv4LLkwzKFjowEEkEmnVl2H4k3M2MskbYF+BHLHPojqhR3tWaNrV7OMjgazqJDCBrJQeYSQzCpCgiLc5aUwA==" />
    <add key="group_id" value="0a3687cf-5fe4-105f-9813-f981000009d5" />
    <add key="gatewayhost" value="rms-world-check-one-api-pilot.thomsonreuters.com" />
    <add key="gatewayurl" value="/v1/" />
    <add key="requestendpoint" value="https://rms-world-check-one-api-pilot.thomsonreuters.com/v1/" />
    <add key="PlatformID" value="1" />
    <add key="statusId" value="0a3687cf-5fe4-105f-9813-f982000009ff" />
    <add key="riskId" value="0a3687cf-5fe4-105f-9813-f982000009f3" />
    <add key="reasonId" value="0a3687cf-5fe4-105f-9813-f982000009ee" />
    <add key="resolutionRemark" value="Resloved by System : No Match Found." />-->
    <!--eMudhra Integration Keys-->
    <!--<add key="eMudhra_AuthToken" value="Q9jILZDShk/Y2T2WkRq+PHUKHwBrqdSXTOkU76Eb9Mk=" />-->
    <!--<add key="eMudhra_AuthToken" value="MuuyRA1D8H7wLQRNLk2z2hK5qvohe6Y+BFyTwxef6QcN0/cDi+4Ks0GuxMJ9bqP8" />
    <add key="eMudhra_ReturnURL" value="http://localhost:60547/OnlineReg/ReturnURL" />
    <add key="eMudhra_CancelURL" value="http://localhost:60547/OnlineReg/CancelURL" />
    <add key="eMudhra_ErrorURL" value="http://localhost:60547/OnlineReg/ErrorURL" />
    <add key="eMudhra_DownloadFilePath" value="http://localhost:60547/Files/DownloadSignDocs/" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="5120"/>
    <sessionState mode="InProc" timeout="20"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="FormsAuthentication"/>
      <add name="QueryStringEncryption" type="TMP.Infrastructure.Utilities.QueryStringEncryption"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>