
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/MasterPage/_TMPWebsite.cshtml";
}

<div class="container padoff">

    <form method="post">


        <div class="col-md-4"></div>
        <div class="col-md-4 new-box"> 
            <p class="p-button">
                Bridge the 
                Buyers, Suppliers and Funder relationship on one platform
            </p>
            <p style="padding-top:20px;">
                <button id="Register" name="Register" type="submit" value="Register" class="btn-tgs-ext">Register</button>&nbsp;&nbsp;&nbsp;
                <button id="Login" name="Login" value="Login" type="submit" class="btn-tgs-ext">Login</button>
            </p>
        </div>
        <div class="col-md-4"></div>
    </form>

</div>
<style>
    .new-box {
        text-align: center;
        height: 400px;
        /*border: 1px solid #336699;*/
        border-radius: 10px;
        background-color: #fff;
    }

    .headerbottom {
        border-bottom: #6d6e71 solid 0px;
    }

    .footertop {
        border-top: #6d6e71 solid 0px;
    }

    .register-div {
        background-color: #ffd400;
        height: 48%;
    }

    .p-button {
        padding-top: 100px;
        font-size: 22px;
        line-height: 1.3;
        padding-bottom: 20px;
        font-weight: 300;
        padding-left:30px;
        padding-right:30px;
        color:#000;
    }

    .box {
        padding-top: 16%;
    }

    .btn-tgs-ext {
        width: 110px;
    }

        .btn-tgs-ext:hover,
        .btn-tgs-ext:focus {
            padding: 6px 15px;
            border:  1px solid #ffd400;
        }
</style>
<script>

</script>
