################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FundFuse/.vs
/.vs
/packages
/FundFuse/bin
/FundFuse/obj
/FundFuse/packages
/FundFuse/ProgramLog/ProgramLog-20240216.txt
/FundFuse/ProgramLog
