################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlobalSCF/.vs
/.vs
/packages
/GlobalSCF/bin
/GlobalSCF/obj
/GlobalSCF/packages
/FundFuse/obj
/FundFuse/bin
/FundFuse/ProgramLog
