@media (min-width:300px) and (max-width:359px) {
    .homemenu1 {
        display: none !important;
    }

    .homemenu {
        display: block !important;
        padding: 5px 5px !important;
    }

    .maintext {
        font-size: 12px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        text-align: left !important;
    }

    .suppbg {
        background: none !important;
    }



    .bgside {
        background: none !important;
        margin-top: 0 !important;
    }

    .titletext {
        font-size: 12px !important;
    }

    .titletext2 {
        font-size: 12px !important;
    }

    .logoguy {
        text-align: center !important;
        width: 100% !important;
    }

    .login {
        width: 100% !important;
    }

    .loginbox {
        min-height: 350px !important;
    }
}

@media (min-width:360px) and (max-width:767px) {
    .homemenu1 {
        display: none !important;
    }

    .homemenu {
        display: block !important;
        padding: 5px 5px !important;
    }

    .maintext {
        font-size: 16px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        text-align: left !important;
    }

    .suppbg {
        background: none !important;
    }



    .bgside {
        background: none !important;
        margin-top: 0 !important;
    }

    .titletext {
        font-size: 16px !important;
    }

    .titletext2 {
        font-size: 16px !important;
    }

    .logoguy {
        text-align: center !important;
        width: 100% !important;
    }

    .login {
        width: 100% !important;
    }

    .loginbox {
        min-height: 350px !important;
    }


    .logologin {
        margin-top: 30px !important;
    }
}

@media (min-width:768px) and (max-width:799px) {
    .homemenu1 {
        padding: 5px 5px !important;
    }

    .homemenu {
        padding: 5px 5px !important;
    }

    .maintext {
        font-size: 16px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        text-align: left !important;
    }

    .suppbg {
        background: none !important;
    }



    .logologin {
        margin-top: -160px !important;
    }
}

/*@media (max-width:991px) {
    .navbar-default {
        background-color: transparent !important;
    }
}*/


@media (min-width:800px) and (max-width:990px) {


    .homemenu1 {
        padding: 5px 5px !important;
    }

    .homemenu {
        padding: 5px 5px !important;
    }

    .maintext {
        font-size: 16px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        text-align: left !important;
    }

    .suppbg {
        background: none !important;
    }



    .logologin {
        margin: -23% !important;
    }

    .logologin {
        margin-top: -300px !important;
    }
}

@media (min-width:991px) and (max-width:1279px) {

    .logologin {
        margin-top: -120px !important;
    }
}

@media (min-width:1920px) {
}


* {
    /*font-family: myriad_pro;*/
    font-size: inherit;
}
/*body {
    font-size: calc(100vw / 120);
    line-height: calc(100vw / 75);
}*/
.viewmargin {
    width: 90%;
    margin: 0px auto;
    clear: both;
}

.nav-justified > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: #ffffff !important;
    border-left: 1px #ffffff solid;
    background-color: #13436B !important;
}

    .nav-justified > li > a:hover {
        color: #13436B !important;
        background-color: #ffffff !important;
    }

/*.navbar-default {
    background-color: #13436B !important;
    border-color: none !important;
    border: none !important;
}*/

/*.navbar {
    background-color: #13436B !important;
    border-radius: 0 !important;
    min-height: 0 !important;
}*/
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle .icon-bar {
    background-color: #13436B !important;
}

.navbar-header {
    /*float:left;*/
}

.input-group {
    font-size: 9px;
    height: 10px;
    background-color: #a1b6c5;
    float: right;
    padding-top: 4% !important;
}

.input-group-addon {
    padding: 3px 12px;
    background-color: #5b6b8c;
    color: #003058;
    border: none;
    border-radius: 0px;
}

.user-acct {
    margin: 30px 0 0 -70px;
}

    .user-acct ul {
        list-style: none;
    }

        .user-acct ul li a {
            color: #0c4269;
            text-decoration: none;
        }

.nav-panel {
    background-color: #dbe3e9;
}



.nav-head-text {
    font-size: 14px;
    color: #0c4269;
    text-align: center;
    margin: 15px 0px 25px -60px;
}

.nav-bar-area {
    font-size: 12px;
}

    .nav-bar-area ul {
        list-style: none;
        padding-left: 10px;
    }

        .nav-bar-area ul li {
            border-bottom: 1px dashed #0c4269;
            padding: 15px 0;
        }

            .nav-bar-area ul li a {
                text-decoration: none;
                text-align: left;
                color: #0c4269;
                font-size: 10px;
            }

                .nav-bar-area ul li a:hover {
                    color: white;
                }

.copy-right {
    color: #0c4269;
    font-size: 8px;
    position: fixed;
    bottom: 1%;
}

.location-area {
    float: right;
    font-size: 11px;
    padding: 10px 0 0 0;
}

.welcome-msg {
    font-size: 11px;
    color: #49718f;
}

.priorities-area {
    background-color: #6d8ea5;
}

.quickoverview {
    color: #49718f;
    margin: 15px 0 15px 0;
    text-align: left;
    font-size: 12px;
}


.h3margin {
    margin-bottom: 5px;
}

.dashboardnumbers {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    color: #13436B;
    font-family: myriad_pro_cond;
}

.dashboardtitles {
    font-size: 9px;
    color: #13436B;
}

.dashboardnumbersp {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    color: #13436B;
    font-family: myriad_pro_cond;
}

.dashboardtitlesp {
    font-size: 9px;
    color: #13436B;
}

.registered-users-area {
    background-color: #6D8EA5;
    padding: 0 5px 0 0;
}

.incomplete-area {
    background-color: #6D8EA5;
    padding: 0 5px 0 0;
}

.total-registered-users-area {
    background-color: #6D8EA5;
    padding: 0 5px 0 0;
}

.total-reminders-area {
    background-color: #6D8EA5;
    padding: 0 5px 0 0;
}

.symbol {
    margin: 15px 0 0 -20px;
}

.queued {
    font-size: 10px;
    background-color: #e7ecf0;
    color: #0c4269;
}

.queuedp {
    margin: 7px 0 7px -10px;
}

.cif {
    font-size: 10px;
    color: #6d8ea5;
    background-color: #f0f4f6;
    border-top: #5b9bd5 dashed 1px;
}

.cifp {
    margin: 7px 0 7px -10px;
}

.numbers {
    font-size: 9px;
    color: #FFF;
    background-color: #6D8EA5;
}

.numbersp {
    margin: 8px 0 8px 0;
}

.notificationstitle {
    font-size: 12px;
    color: #6d8ea5;
}

.notifications {
    font-size: 9px;
    color: #6d8ea5;
    margin: 0;
}

.total {
    font-size: 9px;
    color: #5b9bd5;
    background-color: #f0f4f6;
    text-align: right;
}

.totalp {
    margin: 7px 0 7px -10px;
}

.blank {
    height: 20px;
}

.h1head {
    font-size: 50px;
    color: #ebeff2;
}

.viewmore {
    text-align: right;
    font-size: 9px;
    color: #6d8ea5;
}

.admintitles {
    color: #13436B;
    font-size: 20px;
    text-align: left;
    padding: 10px 0 0 5px;
}

.adminimages {
    margin: 20px 0 0 -15px;
}

.crgreen {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.pcorange {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.ummaroon {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.sprpurple {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.spmaroon {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.atgold {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.reports {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}


.tmblue {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}


.tmblue1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .tmblue1:hover {
        background-color: #6d8ea5;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }


.addnewtitles {
    font-size: 12px;
    color: #487191;
}

.addnewtitlessmall {
    font-size: 9px;
    color: #487191;
    margin: 0 0 10px 15px;
}

    .addnewtitlessmall a {
        font-size: 9px;
        color: #487191;
    }

.crdrop {
    margin: 0px 0 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
}

.crgreen1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .crgreen1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.pcorange1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .pcorange1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.ummaroon1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .ummaroon1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.sprpurple1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .sprpurple1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.spmaroon1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .spmaroon1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.atgold1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .atgold1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

.reports1 {
    background-color: #6d8ea5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

    .reports1:hover {
        background-color: #455E6F;
        height: 100px;
        margin: 0 10px 0 0;
        cursor: pointer;
    }


.breadcrumb {
    background-color: white;
    padding: 0;
    font-size: 14px;
}

    .breadcrumb > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: ">";
    }

#exTab1 .nav-pills > li > a {
    border-radius: 0;
    line-height: .5;
}

#exTab1 .nav > li > a {
    padding: 10px 12.5px;
}

#exTab1 .nav-pills > li > a {
    background-color: #6D8EA5;
    color: white;
    font-size: 12px;
}

    #exTab1 .nav-pills > li > a:hover {
        background-color: #455E6F;
        color: black;
    }

#exTab1 .nav-pills > li.active > a {
    background-color: #455E6F;
}

    #exTab1 .nav-pills > li.active > a:hover {
        background-color: #455E6F;
    }

    #exTab1 .nav-pills > li.active > a:focus {
        background-color: #455E6F;
        color: white;
    }

#exTab2 .nav-pills > li > a {
    border-radius: 0;
    line-height: .5;
}

#exTab2 .nav > li > a {
    padding: 10px 12.5px;
}

#exTab2 .nav-pills > li > a {
    background-color: #6D8EA5;
    color: white;
    font-size: 12px;
}

    #exTab2 .nav-pills > li > a:hover {
        background-color: #455E6F;
        color: white;
    }

#exTab2 .nav-pills > li.active > a {
    background-color: #455E6F;
    color: white;
}

    #exTab2 .nav-pills > li.active > a:hover {
        background-color: #455E6F;
    }

    #exTab2 .nav-pills > li.active > a:focus {
        background-color: #455E6F;
        color: white;
    }

#exTab3 .nav-pills > li > a {
    border-radius: 0;
    line-height: .5;
}

#exTab3 .nav > li > a {
    padding: 10px 12.5px;
}

#exTab3 .nav-pills > li > a {
    background-color: #6D8EA5;
    color: white;
    font-size: 12px;
}

    #exTab3 .nav-pills > li > a:hover {
        background-color: #455E6F;
        color: white;
    }

#exTab3 .nav-pills > li.active > a {
    background-color: #455E6F;
    color: white;
}

    #exTab3 .nav-pills > li.active > a:hover {
        background-color: #455E6F;
    }

    #exTab3 .nav-pills > li.active > a:focus {
        background-color: #455E6F;
        color: white;
    }

.tab-content {
    padding: 0px;
    font-size: 12px;
}

.form-horizontal .checkbox-inline {
    padding: 0;
    margin: 0 10px 7px 0;
}

.form-horizontal .control-label {
    text-align: left;
    padding-top: 8px;
}



.form-horizontal .chkbox {
    margin-right: 10px;
}


.adminmenulist {
    background-color: #6D8EA5;
    text-align: center;
    margin: 0 0 20px 0;
    color: #FFFFFF;
}

.adminmenuitems {
    text-align: center;
}

.createnew {
    margin: 0 0 20px 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    float: left;
    border: none;
}

    .createnew:hover {
        background-color: #165893;
    }

.createnewp {
    color: #FFffff;
    padding: 7px 0 0 0;
}

.listtitle {
    background-color: #431b3a;
    color: #ffffff;
    padding: 10px 0 0 15px;
    margin: 0 0 10px 0;
    border-radius: 0 5px 5px 0;
}

.bell {
    float: right;
    color: #0c4269;
    margin: 0 10px 0 0;
}

.listp {
    padding: 5px 0 5px 0;
    margin: 0;
    text-align: center;
}

    .listp image {
        cursor: pointer;
    }

.menulist_floatleft {
    float: left;
}

.menulist_floatcenter {
    text-align: center;
}

/*.createusertitle {
    font-size: 14px;
    padding-top:4px;
    height:25px;
    font-weight:bold;
    vertical-align:middle;
    color: #4b4c4e;
    background-color: #e6e7e8;
    padding: 10px 0 10px auto;
}*/

.btns {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btns:hover {
        background-color: #455E6F;
    }


.createtitles {
    font-size: 14px;
    color: #0c4269;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
}

.create-input {
    background-color: #d8e1e7;
    width: 100%;
    border: none;
    margin: 2px 0 2px 0;
    padding-left: 2px;
}

.create-input-user {
    background-color: #d8e1e7;
    width: 100%;
    border: none;
    padding-left: 2px;
}

.create-input-dropdown {
    background-color: #d8e1e7;
    width: 100%;
    border: none;
    height: 25px;
    padding-left: 2px;
}

.control-label {
    color: #0c4269;
    font-size: 12px;
    padding-top: 8px;
}


.control-label-margins {
    color: #0c4269;
    padding-left: 0;
    padding-top: 8px;
}

.upload {
    height: 85px;
    width: 143px;
    position: absolute;
    text-align: center;
}

.factoringbox {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: left;
    height: 25px;
    padding: 5px 0 0 10px;
    border: #000000 solid 1px;
    width: 85%;
}

.factoringboxhover {
    background-color: #455e6f;
    color: #ffffff;
    border: none;
}

.factoringboxes {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-align: left;
    height: 25px;
    padding: 5px 0 0 10px;
    border: #000000 solid 1px;
    width: 50%;
}

.factoringboxeshover {
    background-color: #455e6f;
    color: #ffffff;
    border: none;
}

.create-input-dropdown-relation {
    background-color: #d8e1e7;
    width: 170%;
    border: none;
    height: 25px;
}



.filterbox {
    background-color: #d8e1e7;
    border: none;
    width: 14%;
}

.invoicetitletext {
    text-align: center;
    color: #ffffff;
}

.invoicetitlebox {
    background-color: #cc6600;
}

.invoicesummarytext {
    text-align: right;
}

.invoicebg {
    background-color: #dbe3e9;
    border-bottom: #CCCCCC solid 1px;
}

.btnsgreen {
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}


.createsavebtn {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

.suppliersummaryhdrsmall {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
}

.footerbox {
    margin: 1px 0 1px 0;
}

.tabsmenu {
    color: white;
    height: 30px;
}

.tabsli {
    text-decoration: none;
    display: inline;
    list-style-type: none;
    color: white;
    padding: 5px 10px 5px 10px;
}

    .tabsli a {
        float: left;
        text-decoration: none;
        display: block;
        list-style-type: none;
        color: white;
        padding: 5px 10px 5px 10px;
    }

        .tabsli a:hover {
            color: white;
            text-decoration: none;
            background-color: #455E6F;
        }

    .tabsli:active {
        color: white;
        text-decoration: none;
        background-color: #455E6F;
    }


.adminmenulistcr {
    background-color: #6D8EA5;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}

.btnscr {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnscr:hover {
        background-color: #455E6F;
    }

.crcitab {
    height: 70px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.crshtab {
    height: 105px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.crastab {
    height: 20px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}


.adminmenulistpc {
    background-color: #165893;
    text-align: center;
    color: white;
}



.btnspc {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnspc:hover {
        background-color: #455E6F;
    }

.pctortab {
    height: 80px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.pcfintab {
    height: 160px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.pcbatab {
    height: 130px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.pcinstab {
    height: 10px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.pcdoctab {
    height: 350px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.pcreftab {
    height: 165px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}




.adminmenulistum {
    background-color: #6D8EA5;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}

.btnsum {
    margin: 0;
    /*background-color: #6D8EA5;*/
    background-color: #336699;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsum:hover {
        background-color: #455E6F;
    }


.adminmenulistspr {
    background-color: #6D8EA5;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}

.btnsspr {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsspr:hover {
        background-color: #455E6F;
    }

.sprcitab {
    height: 70px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.sprfintab {
    height: 135px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.sprbatab {
    height: 130px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}

.sprdoctab {
    height: 325px;
    border-bottom: #CCCCCC solid 1px;
    margin: 0 0 .5% 0;
}


.adminmenulistsp {
    background-color: #6D8EA5;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}


.btnssp {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnssp:hover {
        background-color: #455E6F;
    }


.adminmenulistat {
    background-color: #5f4100;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}


.btnsat {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsat:hover {
        background-color: #455E6F;
    }



.adminmenulistrep {
    background-color: #3c5300;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}


.btnsrep {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsrep:hover {
        background-color: #455E6F;
    }


.scroll {
    height: 390px;
    width: 100%;
    overflow: auto;
}

.horizontal-scroll {
    width: 99%;
    overflow-x: auto;
    white-space: nowrap;
}

.boxwidth {
    width: 120%;
}

.textarea {
    overflow: auto;
    resize: none;
}

.popuptitle {
    background-color: #6D8EA5;
    color: #ffffff;
    float: left;
    padding: .3% 0 1% 1%;
}

.popupbox {
    border: #CCCCCC solid 2px;
    border-radius: 5px;
    background-color: #efeff0;
    padding: 0;
}

.closebtn {
    background-color: #6d8ea5;
    float: left;
    color: #ffffff;
    padding: .3% 1.5% 1% .3%;
    text-align: right;
    border: none;
    margin: 0.3% 0 0 0;
}

.popuphover {
    border: #d8e1e7 solid 1px;
    height: 100px;
    width: 460px;
    margin: 255px 0 0 515px;
    position: absolute;
    background-color: #d8e1e7;
}

.bgcr {
    background-color: #6d8ea5;
    color: #ffffff !important;
}

.bgpc {
    background-color: #6d8ea5;
    color: #ffffff;
}

.bgpcchk {
    background-color: white;
    color: #0C4269;
}

.bgum {
    background-color: #6d8ea5;
}

.bgspr {
    background-color: #6d8ea5;
    color: #ffffff;
}

.bgsp {
    background-color: #6d8ea5;
}

.bgat {
    background-color: #6d8ea5;
}

.bgrep {
    background-color: #6d8ea5;
}

.bgtm {
    background-color: #6d8ea5;
}

.bgfact {
    background-color: #6d8ea5;
    color: #ffffff;
}

.bgrfact {
    background-color: #6d8ea5;
    color: #ffffff;
}

.template {
    background-color: #6D8EA5;
    height: 100px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.btnnew {
    position: absolute;
    z-index: 1;
    margin: 2.5px;
}


.reqfield {
    color: red;
}

.btnstm {
    margin: 0;
    background-color: #6D8EA5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnstm:hover {
        background-color: #455E6F;
    }

.btnsfact {
    margin: 0;
    background-color: #6d8ea5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsfact:hover {
        background-color: #455e6f;
    }

.btnsrfact {
    margin: 0;
    background-color: #6d8ea5;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

    .btnsrfact:hover {
        background-color: #455e6f;
    }


.facthdr {
    color: #FFFFFF;
    text-align: center;
}

.factbox {
    border-radius: 5px;
    background-color: #455e6f;
    color: #FFFFFF;
    text-align: center;
}

.rfacthdr {
    color: #FFFFFF;
    text-align: center;
}

.rfactbox {
    border-radius: 5px;
    background-color: #455e6f;
    color: #FFFFFF;
    text-align: center;
}


.suppliersummarytitletext {
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding: 0 0 0 0;
}

.suppliersummaryinputtext {
    color: #000000;
    text-align: center;
    font-size: 13px;
    padding: 0 0 0 0;
}

.suppliersummaryinputtextbg {
    background-color: #CCCCCC;
    border-bottom: #999999 solid 1px;
}

.createsavesupplier {
    background-color: #731c2c;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    color: #ffffff;
    border: none;
}

.footerarea {
    position: fixed !important;
    bottom: 15px;
    right: 30px;
}

.dashboardanchor {
    color: #ffffff !important;
}


@media (min-height:604px) {
    .bg {
        background: url(../image/login_main_bg.png);
        background-repeat: no-repeat;
    }
}

@media (max-width: 480px) {

    .bg {
        background: none;
    }
}

@media (min-width: 1200px) {

    .profilepic {
        padding-top: 2%;
        padding-left: 2%;
    }
}

@media (max-width: 700px) {

    .profilepic {
        display: none;
    }
}

@media (min-width: 1200px) {

    .mUl {
    }
}

@media (max-width: 700px) {

    .mUl {
        text-align: center;
        margin-right: 40px;
    }
}

.homemenu {
    color: #adadae;
    display: inline-block;
    list-style: none;
    padding: 50px 5px 5px 5px;
}


    .homemenu:hover {
        text-decoration: none !important;
        /*color: #ffffff !important;*/
        /*background-color: #587595 !important;*/
        /*cursor: pointer;*/
    }

.homemenu1 {
    color: #adadae;
    display: inline-block;
    list-style: none;
    padding: 50px 5px 5px 5px;
}

    .homemenu1 a {
        color: #adadae !important;
        text-decoration: none !important;
    }

    .homemenu1:hover {
        text-decoration: none !important;
        color: #ffffff !important;
    }


@media (min-width: 1200px) {

    .welcome {
        font-size: 22px;
        font-weight: lighter;
        padding-top: .3%;
        line-height: 1;
    }

    .today {
        font-size: 10px;
    }
}

@media (max-width: 700px) {

    .welcome {
        font-size: 22px;
        font-weight: lighter;
        padding-top: .3%;
        line-height: 1;
        text-align: center;
    }

    .today {
        font-size: 10px;
        text-align: center;
    }
}


.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #ffffff;
    background-color: #004465;
    padding: 8px 0;
    text-align: center;
    font-size: 10px;
}

.dashbox {
    padding: 5px 0 5px 10px !important;
    background: url(../image/dashbox_bg.png);
    height: 100px;
    width: 100%;
    box-shadow: 0px 10px 10px -7px #000000;
    cursor: pointer;
    margin-top: 10px;
}

.dashbox1 {
    padding: 5px 0 5px 10px !important;
    background: url(../image/dashboard_arrow.png) right no-repeat, url(../image/dashbox_bg.png);
    height: 100px;
    width: 100%;
    box-shadow: 0px 10px 10px -7px #000000;
    cursor: pointer;
}

.rightborder {
    position: absolute;
    top: 0;
    right: 0;
}

.dashtitletxt {
    color: #004465;
    font-size: 17px;
    font-weight: lighter;
    width: 100%;
    display: inline-block;
}

.dashtitlenum {
    font-family: myriad_pro_cond;
    color: #004465;
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
    width: 55%;
    padding: 0 10px 0 0;
    line-height: 1.1;
}

.dashtitleimg {
    display: inline-block;
    margin: -40px 0 0 0;
}



.titletext {
    font-size: 22.66px;
    color: #0d85b3;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.06em;
    padding-top: 1%;
    text-align: center;
}

.titletext2 {
    font-family: myriad_pro;
    font-weight: bold;
    /*color: #859ab2;*/
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.18em;
    text-align: center;
}

.logologin {
    margin-top: -8%;
}

.logintopbg {
    background: url(../image/login_top_bg.png) no-repeat;
    background-size: contain;
}

.bgside {
    background: url(../image/login_side.png) no-repeat;
    margin-top: 200px;
    background-size: contain;
    background-position: top-left;
    text-align: center;
}

.loginbox {
    height: 100%;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
}


.logoguy {
    width: 30%;
    padding-top: 10%;
    float: left;
    opacity: 0.7;
}

.login {
    width: 70%;
    float: left;
    padding: 2% 0;
}

.loginfill {
    margin: 10px 0 10px 0;
    height: 35px;
    /*background-color: #ffffff;*/
    text-align: left;
    padding: 4px 0 0 4px;
    border-bottom: 1px solid #9EA5A8;
    margin-bottom: 20px;
}

.logininput {
    border: none;
    height: 33px;
    width: 89%;
    float: right;
    margin: -3px 0 0 0;
}

.largebtns {
    padding: 3px 10px;
    text-align: center;
    background-color: #eef0f4;
    box-shadow: 0 5px 5px -5px #000000;
    font-size: 16px;
    border: none;
    margin: 2px 10px;
    font-weight: lighter;
}

    .largebtns:hover {
        background-color: #13426b;
        color: #ffffff;
    }

.active {
    background-color: #13426b !important;
    color: #ffffff !important;
}

.smallbtns {
    padding: 3px 10px;
    text-align: center;
    color: #ffffff;
    background-color: #7392a2;
    font-size: 12px;
    border: none;
}

    .smallbtns:hover {
        background-color: #13426b;
        color: #ffffff;
    }

.smallerbtns {
    padding: 3px 10px;
    text-align: center;
    color: #ffffff;
    background-color: #7fa1b2;
    font-size: 10px;
    border: none;
}

    .smallerbtns:hover {
        background-color: #13426b;
        color: #ffffff;
    }

.linkbtns {
    padding: 2px 10px;
    text-align: center;
    color: #ffffff;
    background-color: #7fa1b2;
    font-size: 12px;
    border: none;
    border-radius: 100px;
}

.smallestbtns {
    padding: 5px 12px;
    text-align: center;
    color: #000;
    background-color: #ffd400;
    font-size: inherit;
    border: none;
}

    .smallestbtns:hover {
        background-color: #ffe460;
        color: #000;
    }

.linkbtns:hover {
    background-color: #13426b;
    color: #ffffff;
}

.loginbtn {
    background-color: #0C7EA8;
    color: #ffffff;
    border: none;
    padding: 4px 10px;
    line-height: 1;
}

.forgotup {
    text-align: left;
}

.txt1 {
}

.txt2 {
    font-size: 11px;
}

    .txt2 span {
        padding-bottom: 2px;
    }

.txt3 {
    font-size: 11px;
    padding-top: 3px;
}

.bodybox {
    /*margin-bottom: 2%;*/
}

.suppbg {
    background: url(../image/suppbg.png) no-repeat;
    width: 100%;
    background-position: bottom;
    text-align: center;
}

.maintext {
    font-size: 22px;
    padding-top: 70px;
    padding-bottom: 125px;
    padding-left: 100px;
    padding-right: 500px;
    text-align: left;
    font-weight: lighter;
}

.summarytitles {
    background-color: #c4ccd8;
    text-align: center;
    color: #58595b;
    padding: 3px 0;
}

.summarydata {
    background-color: #c4ccd8;
    text-align: center;
    color: #13426b;
    font-size: 14px;
    padding: 3px 0;
}

.summarybg {
    background-color: #13426b;
    padding: 3px 0;
}

.summarytext {
    color: #ffffff;
    text-align: center;
    padding: 3px 0;
}

.summaryinput {
    background-color: #c4d2d9;
    padding: 3px 0;
}

.uploadbg {
    background-color: #e6e7e8;
}

.viewbg {
    line-height: 30px;
    background-color: #e6e7e8;
    border-bottom: #58595b solid 1px;
    color: #58595b;
}



.status {
    background-color: #004465;
    color: #ffffff;
}

th {
    background-color: #c4ccd8;
    color: #13426b !important;
    text-align: center !important;
    border-color: #ffffff;
}

td {
    color: #13426b !important;
    text-align: center !important;
   /* border: #e6e7e8 1px solid !important;*/
}

    td.sorting_1 {
        color: #13426b !important;
        text-align: center !important;
        border: #e6e7e8 1px solid !important;
        background-color: transparent !important;
    }

table {
    border-bottom: none !important;
}

.abouttitle {
    font-size: 14px;
    color: #58595b;
    margin-bottom: 10px;
}

.abouttext {
    font-size: 12px;
    color: #58595b;
    margin-bottom: 10px;
    text-align: justify;
}

.aboutlogos {
    text-align: center;
    background-image: url(../image/divider.png);
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

.readmore {
    margin: 10px 0px;
    text-align: center;
    color: #c4d2d9;
    text-decoration: underline;
}

.boxbg {
    /*background-image: url(../images/top_bg.png);*/
    min-height: 350px;
    box-shadow: 0 5px 10px -5px #999;
    background-repeat: repeat;
    padding: 20px 0px;
}

.search-inner-addon {
    position: relative;
    padding: 5px 0;
}

    .search-inner-addon input {
        padding-right: 30px;
        border-radius: 0px !important;
    }

    .search-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

.faqtitle {
    font-size: 16px;
    font-weight: lighter;
    color: #58595b;
}

.faqtext {
    color: #58595b;
    padding: 3px 0px;
}

.ok:before {
    font-family: 'FontAwesome';
    content: '\f0da';
    margin: 0 10px 0 0px;
    color: #58595b;
}

.ok1:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    margin: 0 7px 0 0px;
    color: #58595b;
}

.droptext {
    padding: 5px 0px 0px 14px;
    border-bottom: #CCCCCC 1px solid;
}

.faqscroll {
    overflow: auto;
    height: 300px;
}

.btmmargin {
    margin-bottom: 65px;
}

@media (min-width: 1200px) {

    .buyerbg {
        background: url(../image/buyerbg.png) no-repeat;
        width: 100%;
        background-position: bottom;
        text-align: center;
    }
}

@media (max-width: 700px) {

    .buyerbg {
        /*background: url(../image/buyerbg.png) no-repeat;
    width: 100%;
    background-position: bottom;*/
        text-align: center;
    }
}

.topbg {
    /*background: url(../images/top_bg.png) repeat;*/
    width: 100%;
}

.padoff {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top:50px;
}

.contact {
    text-align: center;
    color: #004465;
}

.ui-datepicker-header {
    color: black;
}

.cleardiv {
    clear: both;
}



/*Extra CSS*/
.header {
    height: 92px;
    background-color: #dbe3e9;
}

.searchboxlistheader {
    margin-top: 35px;
    float: right;
}

.searchbox {
    margin-top: 35px;
    float: right;
}

.searchboxlist {
    height: 28;
    width: 172px;
}

.bluebox {
    background-color: #d8e1e8;
    background-color: #d8e1e8;
    margin-left: -20;
    padding: 20px 0 0 20px;
}

.form-control {
    height: 25px;
    border-radius: 0px;
    font-size: 9px;
    height: 20px;
    background-color: #a1b6c5;
}

.aform-control {
    font-size: 10px;
    height: 30px;
    padding: 0;
}

.icon-area {
    color: #0c4269;
}

.dropdown-menu {
    margin: 20px 0 0 0;
}

.logo-panel {
    background-color: #dbe3e9;
}

.logo-panelfull {
    background-color: #dbe3e9;
}

@media (min-width: 1200px) {

    .mFotter {
    }

    .mFotter1 {
    }
}

@media (max-width: 700px) {

    .mFotter {
        text-align: center;
        margin-left: 12px;
    }

    .mFotter1 {
        display: none;
    }
}

.no_Select {
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-row {
    background-color: #ffffff;
}

.scf-new-bg {
    background-image: url('../../image/scf-login-bg.jpg');
    background-size: 100% 100%;
    background-position: left top;
}

.login-header {
    text-align: center;
}

.login-header-title {
    margin-top: 40px;
    font-size: 20px;
    font-family: MyriadPro-light;
    margin-bottom: 20px;
}

    .login-header-title span {
        font-size: 19px;
        font-family: myriad_pro;
        font-weight: bold;
    }

.login-logo {
    margin-bottom: 20px;
}

.forgot-pwd {
    font-size: 9px;
}

.mobile-login {
    display: none;
}

.desk-login {
    display: block;
}

.ipad-login {
    display: none;
}

@media(max-width:480px) {
    .mobile-login {
        display: block;
        padding-left: 10%;
    }

    .desk-login {
        display: none;
    }

    .ipad-login {
        display: none;
    }

    .loginbtn {
        padding: 10px 30px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    /*.loginbox {
        position: fixed;
        top: 0px;
        right: 8px;
        max-height: 571px;
    }*/

    /*@media (max-height:570px) {
        .loginbox {
            position: static;
        }
    }*/
    .login-textbox-padding {
        padding-left: 10%;
        padding-right: 10%;
    }

    .mobile-login {
        display: block;
        padding-left: 20%;
    }

    .desk-login {
        display: none;
    }

    .ipad-login {
        display: none;
    }

    .loginbtn {
        padding: 10px 30px;
    }
}

@media (min-width:768px) and (max-width:991px) {

    .login-textbox-padding {
        padding-left: 10%;
        padding-right: 10%;
    }

    .mobile-login {
        display: block;
    }

    .desk-login {
        display: none;
    }

    .ipad-login {
        display: none;
    }

    .loginbtn {
        padding: 10px 30px;
    }
}

@media (min-width:992px) and (max-width:1199px) {

    .mobile-login {
        display: none;
    }

    .desk-login {
        display: none;
    }

    .ipad-login {
        display: block;
    }

    .loginbtn {
        padding: 10px 30px;
    }
}

@media (min-width:992px) and (max-width:1280px) {
    .thumbnail > img {
        height: 700px;
    }
}

.buttons-apply {
    background-color: transparent;
    text-align: center;
    font-weight: lighter;
    padding: 2px 20px 2px 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.onlinrBtn {
    background-color: transparent;
    padding: 2px 20px 2px 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 30px;
}

    .onlinrBtn:hover {
        background-color: #F1F1F1;
    }

.input-validation-error {
    border-color: #a94442;
}

    .input-validation-error:focus {
        border-color: #a94442;
    }


