

<div class="container">
    @Html.Raw(ViewBag.TransPop)
</div>
<input type="hidden" name="TranTemplateName" id="TranTemplateName" value="@ViewBag.TemplateName" />
<input type="hidden" name="TranInvoiceID" id="TranInvoiceID" value="@ViewBag.InvoiceID" />
<input type="hidden" name="TranProgramType" id="TranProgramType" value="@ViewBag.ProgramType" />

