
@{
    ViewBag.Title = "Noaccess Page";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}

<div class="col-md-12 div-border-multitab">
    <div class="col-md-12" style="text-align:center;padding-top:50px;">
        <img src="~/images/noaccess.png" />
        <div class="col-md-12" style="height:20px;"></div>
        <p style="font-size:20px;">Sorry, you do not have access to this page.</p>
    </div>
</div>
<style>
    
    .headerbottom {
        border-bottom: #6d6e71 solid 0px;
    }

    .footertop {
        border-top: #6d6e71 solid 0px;
    }
</style>