@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@model  IEnumerable<TMP.Models.InvoiceTransactionModel>
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border-multitab padoff">
    <div class="col-md-12 dashboard-titel">REMINDER</div>
    <div class="col-md-12" style="height:15px;"></div>
    @if (Enumerable.Count(@ViewBag.reminder) > 0)
    {
       
        <div class="container tab-pane" id="4a">
            <div class="col-md-2"></div>
            <div class="col-md-8 padoff">
                @Html.Action("_ReminderAlert", "Home")
            </div>
            <div class="col-md-2"></div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#exampleDB4').DataTable({
            "pageLength": 10, "ordering": false
        });
    });
</script>
<style>
    table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
        text-align: center !important;
        height: 10px;
    }

    .reminder-div {
        margin-top: 46px;
    }

   

    #exampleDB4_filter {
        display: none;
    }
</style>
