
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}

<div class="parallax-container">
    <img src="~/images/admin-background.jpg" style="width:100%" />
</div>

<style>
    .container {
        max-width: 100%;
    }

    .parallax-wrapper {
        position: relative;
    }

    .parallax-container {
        width: 100vw;
        margin-left: calc(-50vw + 50% - 9px);
        position: relative;
    }


    .headerbottom {
        border-bottom: #6d6e71 solid 0px;
    }

    .footertop {
        border-top: #6d6e71 solid 0px;
    }

    .bs-example {
        width: 100%;
        background-color: #336699;
    }
</style>

