@model TMP.Models.mRoleMaster
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border padoff">
    <div class="col-md-12 createusertitle">Create Role</div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="col-md-12" style="height:10px;"></div>




    <div class="createusertitle col-md-12 ">Please select access rights</div>
    <div class="col-md-12" style="height:10px;"></div>

    <div class="container">
        <div class="col-md-12">Administration</div>
        <div class="col-md-12">
            <div class="col-md-4">
                Admin
                <br />
                Maker <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" /><br />
                Checker <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" /><br />
                Approver <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" />
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-md-12">Administration</div>
        <div class="col-md-12">
            <div class="col-md-4">
                Admin
                <br />
                Maker <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" /><br />
                Checker <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" /><br />
                Approver <input type="checkbox" class="checkBoxClass" name="chk_M" id="chk_M" checked="checked" />
            </div>
        </div>
    </div>




</div>
<style>
    .checkBoxClass {
        float: right;
    }
</style>
